@import url("components/card.css");
@import url("components/footer.css");
@import url("components/banner.css");

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
    background-image: URL(https://i.pinimg.com/736x/74/a7/ce/74a7cec5bc22c6c9cf0a90d57a8ad6b1.jpg);
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

h1 {
  letter-spacing: 20px;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 30px;
}

p, a {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 30px;
}

.body-container{
  display: flex;
  flex-direction: column;
  margin: 9%;
  height: 100vh;
  justify-content: space-between;
}

.container{
  width: 100vw;
  background-color: #A29CFD;
  background-size: cover;
}



