.footer {
  text-align: center;
  padding: 5px;
  margin: 50px 0px 0px 0px;
  background-color: black;
  opacity: 0.5;
}
.footer ul {
font-size: 24px;
  padding: 0px 10px;
}

.footer li {
  text-align: center;
  text-decoration: none;
  list-style: none;
  display: inline-block;
  margin: 0px 30px
}

.footer li > a {
  color: white;
  text-decoration: none;
}
